/docs/
/dev/
/lib/
/bin/
/.shards/
/.vscode/
/.idea/
/.claude/
/invidious
/sentry
/config/config.yml
CLAUDE.md

# direnv directory used for the Nix Flake.
.direnv

# Invidious object file that gets generated when compiling
# Invidious with `--cross-compile` argument
# Example: `crystal build src/invidious.cr --cross-compile`
/invidious.o
