[Unit]
Description=Invidious (An alternative YouTube front-end)
After=syslog.target
After=network.target

[Service]
RestartSec=2s
Type=simple

User=invidious
Group=invidious

WorkingDirectory=/var/www/invidious/current
ExecStart=/var/www/invidious/current/invidious -o /var/www/invidious/invidious.log

Restart=always

[Install]
WantedBy=multi-user.target
